@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-color: #0D1B2A;
  box-sizing: border-box;
  margin:auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  align-self: center;
  letter-spacing: .1em;
  margin: 0;
  color: #E0E1DD;
  text-shadow: 10px 5px 2px #707070;

}

.logo {
  height: 150px;
  width: 150px;
}

.content-wrapper {
  display: flex;
  margin: 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
}

.new-font {
  text-decoration: none;
  font-weight: 600;
  color: #E0E1DD;
  text-shadow: 10px 5px 2px #707070;
}

.menu{
  word-spacing: 25%;
}

p,
option,
span,
div {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2rem;
}

.form-text {
  color: #E0E1DD;
  font-size: 2rem;
  margin: 0;
  text-align: right;
}

.pic-menu {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 0 auto;
  height: auto;
  margin-top: 7em;
}

.pic-menu2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5em;
  margin-bottom: 5em;
}

.apps {
  width: 360px;
  height: 360px;
}

.entrees {
  width: 360px;
  height: 360px;
}

.desserts {
  width: 360px;
  height: 360px;
}

.drinks {
  width: 360px;
  height: 360px;
}

.mains {
  width: 360px;
  height: 360px;
}

.healthy {
  width: 360px;
  height: 360px;
}

.auth {
  width: 100%;
  height: 1.8em;
  text-align: right;
}

.button-container {
  width: auto;
  border: 2px solid red;
}

/* Start first Card */
div img {
  width: 100%;
  border-radius: .3em;
}

#container {
  width: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 15%;
}

.card {
  background-color: #415A77;
  width: 300px;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.50);
  box-shadow: 20px -5px 5px rgba(0, 0, 0, 0.50);
  margin-top: 30px;
  transition: width 1.9s;
}

button {
  width: 100%;
  border-radius: 5px;
}
  .hand-tossed {
    margin: 0;
  }

  .dipping-sauces {
    margin: 0;
  }

  .description {
    margin-bottom: 0.5em;
  }

  .color {
    color: #DFF8EB;
  }

  button {
    background-color: #415A77;
    color: #DFF8EB;
  }

  button:hover {
    background-color: #5B91D7;
    color: black;
  }

  select {
    background-color: #353c49;
    color: #DFF8EB;
    border-radius: 5px;
  }

  .card:hover,.card2:hover {
    width: 23%;
  }
/* End of first card */

footer {
  margin-top: auto;
  background-color: #353c49;
}
.contact-form{
  padding: 2%;
}

.contact-form > h2 {
  font-family: 'Bebas Neue', cursive;
  color: #DFF8EB;
  font-size: 2em;
}

.contact-form > a {
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
}

.contact-form > div {
  text-align: end;
  font-size: 2em;
  position: relative;
  bottom: 300px;
}
a:visited {
  color: #DFF8EB;
}
section > h2 {
  margin: 0;
}

.copyright {
  text-align: center;
  font-size: 2.2rem;
  margin: 0;
  color: #E0E1DD;
}